/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;
}

body {
    min-height: 100vh;
    background-color: var(--body-color);
}



.sidebar {
    width: 250px;
    height: 100vh;
    background-color: var(--sidebar-color);
    z-index: 100;
    padding: 10px 10px;
}

.sidebar li {
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
    height: 35px;
}